@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Anton&family=Antonio&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.mainblog {
  background-image: url("/blog.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.main {
  background-color: #A2F5BC;
  min-height: 100vh;
  padding: 3rem;
  background-size: cover;
  background-attachment: fixed;
}
.mainpage {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.bodycontainer {
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem 2rem 3rem;
    background-color: rgba(240, 255, 255, 0.811);
    opacity: 100%;
    margin: 0rem 0rem 2rem 0rem;
    border: 1px solid rgb(214, 227, 227);
    border-radius: var(--border-radius);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
    text-align: center;
}
.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.boldtext {
  font-family: "Roboto";
  font-size: 45px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: transparent;
  padding-bottom: 1rem;
}  
.tiletext {
  font-family: "Roboto";
  color: #333; 
  font-size: 1.125rem; 
  padding-left: 0.75rem; 
  padding-top: 1rem; 
  padding-right: 0.75rem;
  background-color: #62bfed; 
  color: #fff;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in;
}
.tiletext:hover {
  background: #3f474e;
}
.tile {
  display: block;
  height: 16rem; 
  position: relative;
  border-radius: 0.25rem; 
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1); 
  background-color: #fff;
  border-left: 0.25rem solid #c52222; 
  line-height: 1.25;
}
.postimage {
  width: 100%;
  height: 100%;
  border-radius: 0 0.25rem 0.25rem 0; 
  object-fit: cover;
  position: absolute;
}
.tiletitle {
  display: block;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1rem; 
  padding-bottom: 1rem; 
  
}
@media (min-width: 275px) and (max-width: 1440px) {
    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .boldtext {
      font-family: "Roboto";
    }  
    .tiletext {
      font-family: "Roboto";
    }
}
@media (min-width: 275px) and (max-width: 767px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .boldtext {
      font-family: "Roboto";
    }  
    .tiletext {
      font-family: "Roboto";
    }
}
@media (min-width: 275px) and (max-width: 530px) {
  .boldtext {
    font-size: 40px;
    font-family: "Roboto";
  }
  .tiletext {
    font-family: "Roboto";
  }
    .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}


  

