.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 300px;
  margin-right: 5rem;
}

.embla {
  width: 100%;
  overflow: hidden;
}

.embla__container {
  display: flex;
  transition-property: transform;
}

.slide {
  flex: 0 0 100%;
  padding-right: 10px;

}

.slideContent {
  background-color: #3d3d3d;
  border-radius: 10px;
  padding: 10px;
}

.name {
  font-size: medium;
  color: azure;
}

.date {
  padding: 0.1rem;
  font-size: x-small;
  color: azure;
}

.review {
  /* padding: 0.1rem; */
  font-size: small;
  color: azure;
}

.rating {
  height: 40px;
}

.google {
  height: 20px;
  margin-left: 8rem;
}

.googlecontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
