@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Anton&family=Antonio&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.mainpage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  border: none;
}
.main {
    background-image: url("/biobkg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.bodycontainer {
  display: flex;
  width: 85%;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem 2rem 3rem;
  background-color: rgba(240, 255, 255, 0.811);
  opacity: 100%;
  margin: 0rem 0rem 2rem 0rem;
  border: 1px solid rgb(214, 227, 227);
  border-radius: var(--border-radius);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
  color: black;
}
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-field {
  flex: 1;
  margin-right: 20px; /* Adjust the spacing between labels and inputs */
}

.label {
  display: block;
  font-family: "Roboto";
  font-weight: 600;
  font-size: large;
  width: 100%
}
.input {
  background-color: antiquewhite;
  width: 100%;
  color: black;
  font-family: "Roboto";
  font-weight: 400;
  font-size: large;
}
