.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 3rem;
    padding-bottom: 7rem;
    min-height: 100vh;
    /* background-image: url("/casino.png");
    background-size: cover;
    background-attachment: fixed; */
  }

.card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgb(244, 243, 233);
    border: 1px solid rgb(84, 87, 89);
    transition: background 200ms, border 200ms;
    height: 200px; /* remove if not working */
    width: 250px;
    border-image: fill;
    filter: drop-shadow(0px 8px 10px rgb(0, 0, 0));
  }

 @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.5);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    opacity: 0.6;
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(15%, auto));
    width: var(--max-width);
    max-width: 100%;
    gap: 25px 125px;
    justify-items: center;
    justify-content: center;
  }

  .title {
    font-family: 'Anton';
    font-size: x-large;
    padding-bottom: 0.5rem;
  }

  .description {
    font-family: 'Anton';
    font-weight: 400;
    font-size: medium;
  }